/* THEME VARIABLES
-------------------------------------------------- */
$theme-color: #d61941; 
$max-image-width: 950px;
$th-brand-logo-height: 52px;
$sidebar-width: 220px;

/* IMPORTS
-------------------------------------------------- */ 
@import "theme/variables"; 
@import "twitter/bootstrap";
@import "font-awesome-4.0.3/font-awesome"; 
//@import "theme/navbar";
//@import "theme/footer";
//@import "theme/form"; 
@import "theme/home"; 

/* FIX FOR IE DEVICE_WIDTH BUG
-------------------------------------------------- */
@-webkit-viewport{width:device-width}
@-moz-viewport{width:device-width}
@-ms-viewport{width:device-width}
@-o-viewport{width:device-width}
@viewport{width:device-width}

/* PATCHES
-------------------------------------------------- */

// Color for the placeholder plugin
.placeholder {
  color: $input-color-placeholder;
}

// Gmap patches
#map-canvas {
  height: 400px;
  img {
    max-width: none;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
  }
}

/* GLOBAL
-------------------------------------------------- */
// We do not want focus
a:focus,
.btn:focus {
  outline: 0;
}
::selection {
	background-color: $brand-primary;
	color: #ffffff;
}
a {
  @include transition(all 0.3s ease-in-out);
}
